# Data types in python 
1. Int
2. Float
3. String
4. Boolean

In [16]:
a = 100

In [3]:
print(type(a))

<class 'int'>

In [4]:
ab = 10.2

In [5]:
type(ab)

float

In [6]:
a = 'Hello'

In [7]:
type(a)

str

In [8]:
a = 'hello'

b = "hello"

c = '''hello'''

In [10]:
#This is a comment
'''This is just a comment
Hello, we are learning %%python'''

'This is just a comment\nHello, we are learning %%python'

In [11]:
a = 'It's a laptop

SyntaxError: invalid syntax (1411459740.py, line 1)

In [18]:
a = "It's a laptop"

In [19]:
a

"It's a laptop"

In [20]:
a = 50.2

In [21]:
a

50.2

In [22]:
3 > 5

False

#  Built in data structures in python

1. List
2. Tuple
3. Dictionary
4. Sets

In [23]:
lst = [1,2,3]

In [24]:
lst

[1, 2, 3]

In [25]:
lst = [1,1.0,'Hello',True]

In [26]:
lst

[1, 1.0, 'Hello', True]

In [27]:
type(lst)

list

In [28]:
lst.append(50)

In [29]:
lst

[1, 1.0, 'Hello', True, 50]

In [30]:
lst.insert(1,'Ok')

In [31]:
lst

[1, 'Ok', 1.0, 'Hello', True, 50]

In [35]:
lst[-1]

50

In [32]:
t = (1,2,3,2.2)

In [33]:
t

(1, 2, 3, 2.2)

In [36]:
t[1]

2

In [37]:
lst[0] = 10

In [38]:
lst

[10, 'Ok', 1.0, 'Hello', True, 50]

In [39]:
t

(1, 2, 3, 2.2)

In [40]:
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [41]:
a = 'Aishwarya'

In [42]:
a[0]

'A'

In [43]:
a[0] = 'P'

TypeError: 'str' object does not support item assignment

In [44]:
lst.pop()

50

In [45]:
d = {1:'Aishwarya'}

In [46]:
d

{1: 'Aishwarya'}

In [47]:
type(d)

dict

In [48]:
d = {1 :'Hello', 'a' : 10}

In [49]:
d

{1: 'Hello', 'a': 10}

In [50]:
s = {1,2,3}

In [51]:
s

{1, 2, 3}

In [52]:
s1 = {1,1,2,3}

In [53]:
s1

{1, 2, 3}

In [54]:
l1 = [1,2,3]
l2 = [3,2,1]

In [55]:
l1 == l2

False

In [56]:
s1 = {1,2,3}
s2 = {3,2,1}

In [57]:
s1 == s2

True

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("C://Users\Aishwarya\Desktop\ExcelR\Day 5-Python Intro\Salaries.csv")

In [3]:
df = pd.read_csv('Salaries.csv')

In [4]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [5]:
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [6]:
df.tail()

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [7]:
df.head(10)

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   12        6  Male   93000
2       Prof          A   23       20  Male  110515
3       Prof          A   40       31  Male  131205
4       Prof          B   20       18  Male  104800
5       Prof          A   20       20  Male  122400
6  AssocProf          A   20       17  Male   81285
7       Prof          A   18       18  Male  126300
8       Prof          A   29       19  Male   94350
9       Prof          A   51       51  Male   57800

In [8]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [9]:
df['rank']

0          Prof
1          Prof
2          Prof
3          Prof
4          Prof
        ...
73         Prof
74    AssocProf
75         Prof
76         Prof
77         Prof
Name: rank, Length: 78, dtype: object

In [11]:
df[['rank']]

         rank
0        Prof
1        Prof
2        Prof
3        Prof
4        Prof
..        ...
73       Prof
74  AssocProf
75       Prof
76       Prof
77       Prof

[78 rows x 1 columns]

In [13]:
df[['rank','phd']].head()

   rank  phd
0  Prof   56
1  Prof   12
2  Prof   23
3  Prof   40
4  Prof   20

In [14]:
df[['rank','phd']].tail()

         rank  phd
73       Prof   18
74  AssocProf   19
75       Prof   17
76       Prof   28
77       Prof   23

In [15]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [16]:
df.ndim

2

In [19]:
df.shape

(78, 6)

In [20]:
df.shape[0]

78

In [21]:
df.shape[1]

6

In [22]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [23]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [24]:
df['rank'].dtype

dtype('O')

In [25]:
df['phd'].dtype

dtype('int64')

In [27]:
df.head(2)

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000

In [26]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [28]:
df.describe(include = object)

        rank discipline   sex
count     78         78    78
unique     3          2     2
top     Prof          B  Male
freq      46         42    39

In [29]:
df['phd'].mean()

19.705128205128204

In [30]:
df.mean()

C:\Users\Aishwarya\AppData\Local\Temp\ipykernel_39636\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [31]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [32]:
df.std()

C:\Users\Aishwarya\AppData\Local\Temp\ipykernel_39636\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [33]:
df50 = df.head(50)

In [34]:
df50

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960

In [35]:
df50.mean()

C:\Users\Aishwarya\AppData\Local\Temp\ipykernel_39636\1483233065.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df50.mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [36]:
df.head(50).mean()

C:\Users\Aishwarya\AppData\Local\Temp\ipykernel_39636\1648960742.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.head(50).mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [38]:
df['rank']

0          Prof
1          Prof
2          Prof
3          Prof
4          Prof
        ...
73         Prof
74    AssocProf
75         Prof
76         Prof
77         Prof
Name: rank, Length: 78, dtype: object

In [39]:
df['phd'].describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [40]:
df['phd'].count()

78

In [41]:
df['phd'].mean()

19.705128205128204