# Functions
- In python, there are two types of function.
    - Built-in funtions
    - User defined function
- We can create our own customized functions in python for code reusability.

In [1]:
#Basic Function

In [2]:
def simple_function():
    print('This is my first function')

In [3]:
simple_function()

This is my first function

In [4]:
def func():
    print('First')
    print('Second')

In [5]:
func()

First
Second

In [6]:
print()

In [7]:
#Docstring

In [8]:
def function():
    '''This function will print number 18'''
    print(18)

In [9]:
function()

18

In [10]:
#Write a python function which will return me the maximum number
def max_number(x,y):
    if x >y:
        print(x)

In [11]:
max_number(10,5)

10

In [12]:
#*args

In [13]:
def max_number(*args):
    print(max(args))

In [14]:
max_number(10,50,32,56,52,200)

200

# Loops
1. While loop
2. For loop

In [19]:
#While Loop
i = 1

while i < 10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9

In [23]:
#range function
r = range(0,31,2)
r

range(0, 31, 2)

In [24]:
list(r)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
#For loop

In [25]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
for i in range(0,50):
    if i%2==1:
        print(i)
    else:
        print('Number was even')

Number was even
1
Number was even
3
Number was even
5
Number was even
7
Number was even
9
Number was even
11
Number was even
13
Number was even
15
Number was even
17
Number was even
19
Number was even
21
Number was even
23
Number was even
25
Number was even
27
Number was even
29
Number was even
31
Number was even
33
Number was even
35
Number was even
37
Number was even
39
Number was even
41
Number was even
43
Number was even
45
Number was even
47
Number was even
49

In [28]:
#Company list
company = ['amazon','flipkart','excelr']

In [29]:
for i in company:
    print(i)

amazon
flipkart
excelr

In [30]:
for i in company:
    print('www.'+i+'.com')

www.amazon.com
www.flipkart.com
www.excelr.com

In [32]:
#Print square of all the number in the range of 1,10

for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [33]:
#Store all the even numbers and odd number is separate lists
even = []
odd = []

for i in range(1,20):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

In [34]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [35]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# In-Class Activity:

1. Write a program to store all names which starts with 'A' in a list.
2. Take a list of numbers and add 5 to each number.
3. Create a list of marks and print only marks > 75.