# Filtering data
- Filtering is widely used while working with the huge amount of data.
- Filtering allows us to extract specific data from the huge dataset for analysis.
- A common operation in data analysis is to filter values based on a condition or multiple conditions.

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('Salaries.csv')
df

         rank discipline  phd  service  gender  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [1]:
#Extract records where gender = female

In [16]:
df['gender'] == 'Female'

0     False
1     False
2     False
3     False
4     False
      ...
73     True
74     True
75     True
76     True
77     True
Name: gender, Length: 78, dtype: bool

In [17]:
df[df['gender'] == 'Female']

         rank discipline  phd  service  gender  salary
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [18]:
df[df['phd'] > 20]

         rank discipline  phd  service  gender  salary
0        Prof          B   56       49    Male  186960
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
19       Prof          A   29       27    Male  150500
21       Prof          A   33       30    Male  103106
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
29       Prof          B   21       20    Male  123683
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
40       Prof          A   39       36  Female  137000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
54  AssocProf          A   25       22  Female   62884
58       Prof          B   36       26  Female  144651
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
69       Prof          A   28        7  Female  116450
72       Prof          B   24       15  Female  161101
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [2]:
#Gender is female and salary is greater than 150000

In [19]:
df

         rank discipline  phd  service  gender  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [23]:
df[(df['gender']=='Female') & (df['salary'] > 150000)]

    rank discipline  phd  service  gender  salary
44  Prof          B   23       19  Female  151768
72  Prof          B   24       15  Female  161101

In [21]:
df[(df['gender']=='Female') | (df['salary'] > 150000)]

         rank discipline  phd  service  gender  salary
0        Prof          B   56       49    Male  186960
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
19       Prof          A   29       27    Male  150500
27       Prof          A   45       43    Male  155865
31       Prof          B   22       21    Male  155750
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [3]:
#What is the average salary of rank prof?

In [24]:
df.head()

   rank discipline  phd  service gender  salary
0  Prof          B   56       49   Male  186960
1  Prof          A   12        6   Male   93000
2  Prof          A   23       20   Male  110515
3  Prof          A   40       31   Male  131205
4  Prof          B   20       18   Male  104800

In [4]:
#What is the average salary of rank prof and discipline is A?

In [26]:
df[(df['rank']=='Prof') & (df['discipline']=='A')]['salary'].mean()

111935.69565217392

In [27]:
df['rank'].unique()

array(['Prof', 'AssocProf', 'AsstProf'], dtype=object)

In [29]:
df[(df['rank']=='AssocProf') & (df['discipline']=='A')]['salary'].mean()

73959.8

**Groupby function**
- Instead of calculating average salaries separately, we can use pandas groupby method.

In [5]:
#Grouby aggregate method

In [31]:
df.groupby('rank')['salary'].mean()

rank
AssocProf     91786.230769
AsstProf      81362.789474
Prof         123624.804348
Name: salary, dtype: float64

In [32]:
df.groupby('rank')['salary'].agg({'mean','min','max','median'})

                    mean    median    min     max
rank
AssocProf   91786.230769  103613.0  62884  119800
AsstProf    81362.789474   78500.0  63100   97032
Prof       123624.804348  123321.5  57800  186960

# In-Class Activity

In [34]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/nba.csv')
df.head(2)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0

In [ ]:
df[(df['rank']=='Prof') & (df['discipline']=='A')]['salary'].mean()

In [ ]:
df.groupby('rank')['salary'].mean()

In [9]:
#Extract the data where Team is boston celtics and Weight is less than 100
#What is the avearge salary of players of team 'Los Angeles Lakers'.
#What is the average salary of player based of various position?
#Which players belong to San Diego State college.
#Which player from Toronto Raptors team has the highest salary?

In [37]:
df[(df['Team'] == 'Boston Celtics') & (df['Weight'] < 100)]

Empty DataFrame
Columns: [Name, Team, Number, Position, Age, Height, Weight, College, Salary]
Index: []

In [39]:
#What is the avearge salary of players of team 'Los Angeles Lakers'.

df[df['Team'] == 'Los Angeles Lakers']['Salary'].mean()

4784695.4

In [41]:
#What is the average salary of player based of various position?

df.groupby('Position')['Salary'].mean()

Position
C     5.967052e+06
PF    4.562483e+06
PG    5.077829e+06
SF    4.857393e+06
SG    4.009861e+06
Name: Salary, dtype: float64

In [42]:
#Which players belong to San Diego State college.
df[df['College'] == 'San Diego State']

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
301,Kawhi Leonard,San Antonio Spurs,2.0,SF,24.0,6-7,230.0,San Diego State,16407500.0

In [45]:
#Which player from Toronto Raptors team has the highest salary?
df[df['Team'] == "Toronto Raptors"].max()

C:\Users\Aishwarya\AppData\Local\Temp\ipykernel_28348\1355541010.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df['Team'] == "Toronto Raptors"].max()

Name          Terrence Ross
Team        Toronto Raptors
Number                 92.0
Position                 SG
Age                    36.0
Height                  7-0
Weight                255.0
Salary           13600000.0
dtype: object

In [46]:
df[df['Team'] == "Toronto Raptors"]['Salary'].max()

13600000.0

In [47]:
df[(df['Team'] == "Toronto Raptors") & (df['Salary'] == 13600000.0)]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
63,DeMarre Carroll,Toronto Raptors,5.0,SF,29.0,6-8,212.0,Missouri,13600000.0